@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

@font-face {
  font-family : icomoon;
  font-style  : italic;
  src         : url(icomoon.woff);
}

html {
  font-size   : 1.5em;
  line-height : 1.42;
  -webkit-text-size-adjust : 100%;
}

body {
  margin : 0;
}

h1, h2, h3, dl, ul, p {
  font-family : "Open Sans", sans-serif;
  font-weight : 300;
}

address {
  font-style : normal;
}

a { text-decoration : none; }
a:hover { text-decoration : underline; }

body > header {
  background-color    : crimson;
  background-image    : url(logo.png);
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : contain;
  height              : 350px;
}

body > header > h1 {
  display : none;
}

main {
  margin-left   : 5vw;
  margin-right  : 5vw;
}

main > dl > dt {
  float : left;
  width : 13rem;
}

main > dl > dd::before {
  content : "— ";
}
