@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

html {
  font-size   : 1.5em;
  line-height : 1.42;
  -webkit-text-size-adjust : 100%;
}

body {
  width        : 640px;
  margin-left  : auto;
  margin-right : auto;
}

h1, dl {
  font-family : "Open Sans", sans-serif;
  font-weight : 300;
}

a {
  text-decoration : none;
}

a:hover {
  text-decoration : underline;
}

dl > dt {
  float : left;
  width : 13rem;
}

dl > dd::before {
  content : "— ";
}
